#navbar {
   a {
      @media screen and (max-width: 992px) {
         padding: $pd-2 $pd-2;
      }
   }

   .nav-item {
      .nav-link {
         @media screen and (max-width: 992px) {
            padding: $pd-1 $pd-2;
         }
      }
   }

   a:first-child {
      @media screen and (max-width: 992px) {
         padding: 0;
      }
   }
}

#search-area {
   @media screen and (max-width: 992px) {
      padding: $pd-2 0;
   }

   input {
      @media screen and (max-width: 992px) {
         width: 70%;
      }
   }
}

#swiper-slider {
   @media screen and (max-width: 992px) {
      height: 600px;
   }

   .swiper-container {
      @media screen and (max-width: 992px) {
         height: 400px;
      }

      .swiper-wrapper {
         @media screen and (max-width: 992px) {
            height: 90%;
         }
      }
   }
}

.intro {
   .intro-container {
      .row {
         .intro-right {
            @media screen and (max-width: 992px) {
               background-image: url("../img/intro-2-xs.jpg");
               margin-top: $mg-2;
            }


            .intro-right-content {
               @media screen and (max-width: 992px) {
                  top: 43%;
                  left: 10%;
                  width: 87%;
               }
            }
         }
      }
   }
}


#our-vehicle {
   h1 {
      @media screen and (max-width: 992px) {
         font-size: $font-size-5;
      }
   }

   .carousel-caption--config {
      @media screen and (max-width: 992px) {
         width: 34%;
         left: 23%;
         transform: translateX(-50%);
         text-align: left;
         bottom: unset;
         top: 20%;
         font-size: $font-size-1 - 0.2;
         .carousel-caption-detail {
            margin-bottom: 0;
            .carousel-detail-content {
               h2 {
                  font-size: $font-size-3;
               }
               p {
                  font-size: $font-size-1;
               }
            }
         }
      }
   }

   .carousel-caption-footer {
      @media screen and (max-width: 992px) {
         border: none;
         width: 50%;
         margin-top: $mg-3;
         bottom: 2%;
         justify-content: center;
      }
   }

   .carousel-indicators-config {
      @media screen and (max-width: 992px) {
         width: 100% !important;
      }
   }

   .carousel-control-prev {
      @media screen and (max-width: 992px) {
         left: 0;
         i {
            font-size: $font-size-3;
            padding: $pd-2;
         }
      }
   }

   .carousel-control-next {
      @media screen and (max-width: 992px) {
         right: 0;
         i {
            font-size: $font-size-3;
            padding: $pd-2;
         }
      }
   }
   
   .carousel-indicator-xs {
      @media screen and (max-width: 992px) {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         z-index: 9;
      }
   }

   .carousel-inner {
      @media screen and (max-width: 992px) {
         margin-top: 0;
      }
   }
}

#search-field {
   @media screen and (max-width: 992px) {
      padding: 0 $pd-2;
      flex-wrap: wrap;

      div {
         width: 70%;
         input,
         i,
         input::placeholder {
            font-size: $font-size-2;
         }
   
         input {
            width: 75%;
         }
   
         .btn-search {
            border-color: $color-blue-100;
            border-radius: 40px;
            color: $color-blue-200;
            margin-top: 0;
            &:hover {
               background-color: $color-blue-100;
               color: $color-white;
            }
         }
      }
   }


}