#navbar {
   a {
      @media screen and (max-width: 768px) {
         padding: $pd-1 $pd-2;
      }
   }

   a:first-child {
      @media screen and (max-width: 768px) {
         padding: $pd-1 $pd-2;
      }
   }

   .navbar-collapse {
      @media screen and (max-width: 767px) {
         border-top: $border-2;
      }
   }

   .discover-menu {
      &::before {
         @media screen and (max-width: 768px) {
            @include arrow(7%, unset);
         }
      }

      @media screen and (max-width: 768px) {
         top: 45px;
         left: 0;
         width: 100vw;
      }
   }
}

#search-area-xs {
   &::before {
      @media screen and (max-width: 768px) {
         border-bottom-width: 0;
      }
   }

   @media screen and (max-width: 768px) {
      background-color: $color-blue-100;
      padding: $pd-1 $pd-1;
   }

   i {
      @media screen and (max-width: 768px) {
         color: $color-white;
         font-size: $font-size-1;
         transform: translateY(1px);
      }
   }

   input {
      @media screen and (max-width: 768px) {
         width: 60%;
         height: 3.4rem;
         border: 2px solid $color-white;
         border-radius: 5px;
         padding-top: $pd-2;
         padding-bottom: $pd-2;
         padding-left: $pd-1;
         font-size: $font-size-1;
         color: $color-white;
         background-color: transparent;
      }

      &::placeholder {
         @media screen and (max-width: 768px) {
            font-size: $font-size-1;
            color: $color-white;
         }
      }
   }
}

#swiper-slider {
   @media screen and (max-width: 768px) {
      margin-top: $mg-5;
   }
}

.intro {
   .intro-container {
      .row {
         .intro-right {
            @media screen and (max-width: 768px) {
               background-image: url("../img/our-vehicles-intro-2.jpg");
            }

            .intro-right-content {
               @media screen and (max-width: 768px) {
                  top: 43%;
                  left: 5%;
                  width: 38%;
               }
            }
         }
      }
   }
}

#our-vehicle {
   h1 {
      @media screen and (max-width: 768px) {
         font-size: $font-size-5;
      }
   }

   .carousel-caption--config {
      @media screen and (max-width: 768px) {
         width: 70%;
         left: 50%;
         transform: translateX(-50%);
         text-align: center;
         bottom: 12%;
         top: unset;
         font-size: $font-size-1 - 0.2;
         .carousel-caption-detail {
            margin-bottom: 0;
            .carousel-detail-content {
               h2 {
                  font-size: $font-size-3;
               }
               p {
                  font-size: $font-size-1;
               }
            }
         }
      }
   }

   .carousel-caption-footer {
      @media screen and (max-width: 768px) {
         border: none;
         width: 100%;
         margin-top: $mg-3;
         bottom: 2%;
         justify-content: center;
      }
   }

   .carousel-control-prev {
      @media screen and (max-width: 768px) {
         left: 0;
         i {
            font-size: $font-size-3;
            padding: $pd-2;
         }
      }
   }

   .carousel-control-next {
      @media screen and (max-width: 768px) {
         right: 0;
         i {
            font-size: $font-size-3;
            padding: $pd-2;
         }
      }
   }
   
   .carousel-indicator-xs {
      @media screen and (max-width: 768px) {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         z-index: 9;
      }
   }

   .carousel-inner {
      @media screen and (max-width: 768px) {
         margin-top: $mg-3;
      }
   }
}