@each $idx,
  $bg-color
    in (1, #3c4c5c)
    (2, #5e5e5e)
    (3, #14409a)
    (4, #c0bab5)
    (5, #5c5c5c)
    (6, #33569c)
{
  #vehicle-img#{$idx} {
    background: linear-gradient(#bbbdc0, $color-grey, $color-grey);
  }

  .vehicles-product:hover > #vehicle-img#{$idx} {
    background: linear-gradient($bg-color, $color-grey, $color-grey);
  }

  .delay-#{$idx} {
    animation-delay: 0.1s * $idx;
  }
}

@each $idx, $img in (1, banner-1) (2, banner-2) (3, banner-3) (4, banner-4) {
  #swiper-slider {
    .slide-#{$idx} {
      background: url("../img/#{$img}.jpg");
      background-size: cover;
      background-position: center center;
      
      @media screen and (max-width: 768px) {
         background: url("../img/#{$img}-xs.jpg");
         background-size: cover;
         background-position: center center;
      }

      @media screen and (max-width: 576px) {
        background: url("../img/#{$img}-xs.jpg");
        background-size: cover;
        background-position: center center;
      }
    }
  }
}

@each $idx, $img in (1, slider-1) (2, slider-2) (3, slider-3) (4, slider-4) (5, slider-5) {
  .carousel-inner {
    .item-#{$idx} {
      background: url("../img/#{$img}.jpg");
      background-size: cover;
      background-position: center center;
      
      @media screen and (max-width: 768px) {
         background: url("../img/#{$img}-xs.jpg");
         background-size: cover;
         background-position: center center;
      }

      @media screen and (max-width: 576px) {
        background: url("../img/#{$img}-xs.jpg");
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
