@mixin arrow($left, $right) {
   content: '';
   border-bottom: 15px solid white;
   border-right: 15px solid transparent;
   border-left: 15px solid transparent;
   position: absolute;
   top: -15px;
   left: $left;
   right: $right;
   transition: 400ms all ease;
}

@mixin text($weight, $margin) {
   font-weight: $weight;
   margin-bottom: $margin;
}

@mixin section-padding {
   padding: 0 $pd-9;
}