.intro {
    margin-top: $mg-up-3 * 1.5;
    .intro-container {
        padding: 0 $pd-9;
        .intro-left, .intro-right {
            margin-top: $mg-3;
            height: 420px;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-clip: content-box;
        }

        .intro-left {
            background-color: $color-black;
            background-image: url('../img/our-vehicle-intro-1.jpg');
            .intro-left-content {
                color: $color-white;
                text-align: center;
                position: absolute;
                bottom: 5%;
                right: 0;
                font-size: $font-size-1;
                padding: 0 $pd-5;
                h4 {
                    font-weight: $font-weight-bold;
                    margin-bottom: $mg-2;
                }
                p {
                    font-weight: $font-weight-300;
                    margin-bottom: $mg-3;
                }
            }
        }

        .intro-right {
            background-image: url('../img/our-vehicles-intro-2.jpg');
            .intro-right-content {
                color: $color-white;
                position: absolute;
                top: 50%;
                left: 5%;
                font-size: $font-size-2;
                width: 40%;
                h4 {
                    font-weight: $font-weight-bold;
                    background-color: $color-dark-blue-100;
                    padding: $pd-1 $pd-2;
                    width: max-content;
                }
            }
        }
    }
}