#our-vehicle {
    h1 {
        color: $color-dark-blue-200;
        font-size: $font-size-4;
        margin: $mg-3 0 $mg-5 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        i {
            font-size: $font-size-5;
            top: 45%;
            background-color: $color-blue-overlay;
            padding: $pd-5 $pd-4;
            border-radius: 0.8rem;
        }
    }
}