#footer {
    padding: $pd-5 $pd-8;
    background-color: $color-white;
    flex-wrap: wrap;

    h1 {
        @include text($font-weight-bold, $mg-3);
        color: $color-dark-blue-200;
        font-size: $font-size-2;
    }

    .footer-detail {

        ul li {
            margin-bottom: $mg-2;
            a {
                font-size: $font-size-1;
                color: $color-blue-200;
            }
        }
    }

    .footer-touch {
        width: 100%;
        margin-top: $mg-3;
        border-top: $border-2;
        display: flex;
        justify-content: space-between;
        padding: $pd-3 0;
        .touch-left {
            i {
                @include social-icon;
            }
        }

        .touch-right {
            text-align: right;
            font-size: $font-size-1;
            color: $color-dark-blue-200;
            margin-bottom: $mg-2;
            .btn-search {
                margin-top: 0;
            }
        }
    }
}


#copyright {
    background-color: $color-blue-100;
    @include section-padding;
    .copyright-left {
        p {
            font-size: $font-size-1;
            color: $color-grey;
            padding: $pd-2 0;
            a {
                color: $color-grey;
                text-decoration: underline;
                font-style: italic;
            }
        }
    }

    .copyright-right {
        
        ul {
            justify-content: flex-end;
            li {
                padding: $pd-2;
                border-left: $border-3;
                a {
                    color: $color-grey;
                    font-size: $font-size-1;
                }
                &:first-child {
                    border: none;
                }
            }
        }
    }

    .logo-footer {
        margin-top: $mg-3;
        img {
            max-width: 50%;
            height: 4rem;
        }
    }
}